@import './base.css';

:root {
  --bg: #8d549d;
  --t: #dcc7e0
}

.header {
  margin: 20px auto;
  background-color: var(--bg);
  padding: 10px 10px;
  border-radius: 6px;
}

.topnav {
  overflow: hidden;
  margin: 20px auto;
  background-color: var(--t);
  color: #613d6a;
  padding: 10px 10px;
  border-radius: 6px;
}

.topnav a {
  display: left;
  color: #613d6a;
  text-align: center;
}

.lobby {
  margin: 20px auto;
  background-color: var(--bg);
  padding: 10px 10px;
  border-radius: 6px;
}

.lobby .room-choice {
  margin: 20px auto;
  background-color: var(--t);
  color: #613d6a;
  padding: 10px 10px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 150px 1fr 120px;
  align-items: center;
}

.room-choice a {
  color: #613d6a;
  text-decoration: none;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.room-choice .information {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.room-choice .number-of-ppl {
  text-align: right;
  white-space: nowrap;
}

.footer {
  margin: 20px auto;
  background-color: var(--bg);
  font-size: 0.8rem;
  text-align: center;
  padding: 10px 10px;
  border-radius: 6px;
}

@media screen and (min-width: 690px) {
  .header,
  .topnav,
  .lobby,
  .footer {
    width: 650px;
  }
}
